<html>
<head>
</head>
<style>
	label {
		padding: 5px;
	}
	input {
		margin: 3px;
	}
	button {
	  margin: 3px;
	}
	a {
		padding: 3px;
	}
</style>
<body>

<form action="/create_friendgroup" method="POST">
 <h1>Create a new friend group!</h1>
 <label>Type in the name of friend group:</label>
 <br>
 <input type="text" name = "name" placeholder="Type the name of a new friend group" size='40' request>
 <br>
 <label>Type in description of friend group (Optional):</label>
 <br>
 <input type="text" name = "description" placeholder="Add description for the new friend group (OPTIONAL)" size='100'>
 <br>
 <button type='submit' value = 'createGroup'>Create</button>
<br>

{% if error %}
 <p class="error"><strong>Error:</strong> {{error}}</p>
{% endif %}

<br>
<a href="/manage_friendgroup_page">Cancel</a><br>
<a href='/home'>Go back to homepage</a><br>
<a href="/logout">Log out</a>
</body>


</html>
