<html>
<head>
</head>
<style>
th, td {
  padding: 2px;
  text-align: center;
}
label {
	font-weight: bold;
	padding: 5px;
}
input {
	margin: 3px;
	width: 200px;
}
a {
	padding: 3px;
}
</style>
<body>
<h1>Welcome {{username}}! Manage your follow page!</h1>

<label>Who do you want to follow?</label>
<form action="/process_follow" method="POST">
	<input type="text" name = "follow" placeholder="Type the name you want to follow" size='30'>
	<button type='submit' name='search' value = 'request'>Follow</button><br>
	<br>
	<style type="text/css">
		table, th, td {
			border: 1px solid black;
			margin: 3px;
		}
	</style>
	<label>Here are all your follow request:</label>
	<table>
		<tr>
			<th>UserID</th>
			<th>Accept</th>
			<th>Deny</th>
		</tr>

	{% for user in allRequests %}
		<tr>
			<td>{{user.follower}}</td>
			<td> <form action="/process_follow" method="POST"> <button type='submit' name='manage' value="accept {{user.follower}}">accept</button> </form></td>
			<td> <form action="/process_follow" method="POST"> <button type='submit' name='manage' value="deny {{user.follower}}">deny</button> </form></td>

		</tr>
	{% endfor %}
	</table>
</form>

{% if error %}
	<p class="error"><strong>Error:</strong> {{error}}</p>
{% endif %}

<br>
<a href='/home'>Cancel</a>
<br>
<a href='/home'>Go back to homepage</a>
<br>
<a href="/logout">Log out</a>

</body>
</html>
