<html>
<head>
</head>
<body>

<form action="/manage_friendgroup" method="POST">
 <h1>Welcome {{username}}! Manage your friend group!</h1>
 Type in the name of friend group:
 <br>
 <input type="text" name = "name" placeholder="Type the name of a new friend group" size='40' request>
 <br>
 Type in description of friend group (Optional):
 <br>
 <input type="text" name = "description" placeholder="Add description for the new friend group (OPTIONAL)" size='100'>
 <br>
 <button type='submit' value = 'createGroup'>Create</button>
<br>

{% if error %}
 <p class="error"><strong>Error:</strong> {{error}}</p>
{% endif %}

<br>
<a href="/create_friendgroup">Cancel</a><br>
<a href='/home'>Go back to homepage</a><br>
<a href="/logout">Log out</a>
</body>


</html>
