<html>
<head>
</head>
<style>
table, th, td {
	border: 1px solid black;
	margin: 3px;
  padding: 2px;
  text-align: center;
}
label {
	font-weight: bold;
	padding: 5px;
}
a {
	padding: 3px;
}
</style>
<body>
<h1>Hello, {{username}}</h1>

<label>Details of posts:</label>
<table>
	<tr>
		<th>Photo ID</th>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Post Date</th>
	</tr>

{% for post in posts %}
	<tr>
		<td>{{post.pID}}</td>
		<td>{{post.firstName}}</td>
		<td>{{post.lastName}}</td>
		<td>{{post.postingDate}}</td>
	</tr>
{% endfor %}
</table>
<br>
<label>See who are tagged:</label>
<table>
	<tr>
		<th>Username</th>
		<th>First Name</th>
		<th>Last Name</th>
	</tr>

{% for person in tagged %}
	<tr>
		<td>{{person.username}}</td>
		<td>{{person.firstName}}</td>
		<td>{{person.lastName}}</td>
	</tr>
{% endfor %}
</table>
<br>
<label>See who have reacted:</label>
<table>
	<tr>
		<th>Username</th>
		<th>Emoji</th>
		<th>Comment</th>
	</tr>

{% for reaction in reactions %}
	<tr>
		<td>{{reaction.username}}</td>
		<td>{{reaction.emoji}}</td>
		<td>{{reaction.comment}}</td>
	</tr>
{% endfor %}
</table>

<br>
<a href='/home'>Go back</a>
<br>
<a href="/logout">Log out</a>



<br>

</body>


</html>
