<html>
    <head>
        <title>Image Upload</title>
    </head>
    <body>
        <div class="row">
            <div class="col">
                <h1>Upload an Image!</h1>
                <form action="/post" method="POST" enctype="multipart/form-data">
                    Choose a file to upload: <input type ="file" name ="file" accept="image/*"  autocomplete="off" required><br>
                    <br>
                    Add caption (optional):
                    <input type='text' name='caption'/><br>
                    <br>
                    Visible to all followers?<br>
                    <input type="checkbox" name="public" value="1">Yes<br/>
                    <input type="checkbox" name="public" value="0">No<br/>
                    <br>
                    Choose friend groups to share with:<br>
                    {% for line in groups %}
                    <input type='checkbox' name='friendGroups' value="{{line.groupName}}by{{line.groupCreator}}">{{line.groupName}} by {{line.groupCreator}}</input>
                    <br>
                    {% endfor %}
                    <br>
                    <input type="submit" value = Post />
                </form>
            </div>
        </div>
        <a href="/home">Cancel</a>
        <br>
        <a href="/logout">Log out</a>
    </body>
</html>
